nav.navbar.navbar-expand-lg.bg-body-tertiary.shadow-sm.fixed-top
    .container
        a(href='/').navbar-brand Lab2
        button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
            span.navbar-toggler-icon
        #navbarSupportedContent.collapse.navbar-collapse
            ul.navbar-nav.me-auto.mb-2.mb-lg-0.mx-4
                li.nav-item
                    a(href='/').nav-link Home
                li.nav-item
                    a(href='/passengers').nav-link Passengers
                li.nav-item
                    a(href='/tickets').nav-link Tickets
                li.nav-item
                    a(href='/trains').nav-link Trains
                li.nav-item
                    a(href='/sold-tickets').nav-link Sold tickets
.pt-5
.pt-4